In [1]:
from nba_api.stats.endpoints import leaguegamefinder

In [2]:
gamefinder = leaguegamefinder.LeagueGameFinder(
    season_nullable="2023-24"
)

In [3]:
games = gamefinder.get_data_frames()[0]

In [4]:
games[games['MATCHUP'].str.contains('MIN vs. PHX')]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
52,42023,1610612750,MIN,Minnesota Timberwolves,0042300162,2024-04-23,MIN vs. PHX,W,241,105,...,0.867,10,29,39,23,11,2,13,21,12.0
74,42023,1610612750,MIN,Minnesota Timberwolves,0042300161,2024-04-20,MIN vs. PHX,W,240,120,...,0.909,13,39,52,26,8,2,14,24,25.0
98,22023,1610612750,MIN,Minnesota Timberwolves,0022301194,2024-04-14,MIN vs. PHX,L,241,106,...,0.806,12,24,36,22,7,5,24,20,-19.0

In [5]:
games[games['MATCHUP'].str.contains('MIN @ PHX')]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
23,42023,1610612750,MIN,Minnesota Timberwolves,0042300164,2024-04-28,MIN @ PHX,W,241,122,...,0.806,17,27,44,23,6,6,9,27,6.0
39,42023,1610612750,MIN,Minnesota Timberwolves,0042300163,2024-04-26,MIN @ PHX,W,237,126,...,0.871,15,35,50,26,5,1,13,25,17.0
266,22023,1610612750,MIN,Minnesota Timberwolves,0022301125,2024-04-05,MIN @ PHX,L,240,87,...,0.786,8,36,44,23,9,6,18,20,-10.0
3756,22023,1610612750,MIN,Minnesota Timberwolves,0022300197,2023-11-15,MIN @ PHX,L,242,115,...,0.929,16,24,40,18,8,5,6,14,-18.0

In [6]:
games[games['MATCHUP'].str.contains('PHX @ MIN')]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
53,42023,1610612756,PHX,Phoenix Suns,0042300162,2024-04-23,PHX @ MIN,L,238,93,...,0.789,11,30,41,19,7,1,19,22,-12.0
75,42023,1610612756,PHX,Phoenix Suns,0042300161,2024-04-20,PHX @ MIN,L,242,95,...,0.800,3,25,28,16,9,6,15,19,-25.0
97,22023,1610612756,PHX,Phoenix Suns,0022301194,2024-04-14,PHX @ MIN,W,244,125,...,0.833,13,19,32,28,13,3,12,24,19.0

In [7]:
games[games['MATCHUP'].str.contains('PHX vs. MIN')]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
21,42023,1610612756,PHX,Phoenix Suns,0042300164,2024-04-28,PHX vs. MIN,L,239,116,...,0.833,10,23,33,20,6,7,11,26,-6.0
40,42023,1610612756,PHX,Phoenix Suns,0042300163,2024-04-26,PHX vs. MIN,L,238,109,...,0.875,5,23,28,24,8,3,9,26,-17.0
255,22023,1610612756,PHX,Phoenix Suns,0022301125,2024-04-05,PHX vs. MIN,W,240,97,...,0.759,7,42,49,29,12,3,18,19,10.0
3757,22023,1610612756,PHX,Phoenix Suns,0022300197,2023-11-15,PHX vs. MIN,W,241,133,...,0.933,5,27,32,31,1,4,9,21,18.0